version: "3.8"

services:
  futbol:
    image: developer10/api-futiuber:v8
    deploy:
      replicas: 5
    environment:
      NOMEUSER: antonio
      EMAILUSER: antonio@gmail.com
      PWDUSER: antonio
    ports:
      - 8000:8000
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432 
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
    - "8888:8080"
    volumes:
    - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]        

volumes:
  postgres_data: